.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# html tutorial output
inst/tutorials/*/*.html
inst/tutorials/*/*_files

# deployment output
rsconnect/
inst/doc
doc
Meta
docs

# full size logo
man/figures/dsbox-fullsize.png
